.App {
  text-align: center;
}

path {
  transition: fill 0.5s ease;
}

:root {
  /* COLORS */
  --electricity-pink: #FF99B0;
  --electricity-purple: #CD99EB;
  --electricity-yellow: #FFCB46;
  --true-black: #000;
  --canvas-white: #fcfbfb;
  --mac-grey: #adadad;

  /* STYLING VARIABLES */
  --border-bottom: solid 0.75vh var(--true-black);
  --border: solid 0.75vh var(--true-black);
  --drop-shadow: 9px 9px 0px var(--true-black);
}

body{
  /* BACKGROUND */
  background-color: var(--canvas-white);
  background-image: url("./assets/check-smol.svg");
  background-size:8px 8px;
  background-repeat:repeat;
}

@font-face{
  font-family: 'Coders Crux';
  src:local('Coders-Crux'), url(./fonts/Coders-Crux.woff) format('woff');
}

h1{
  font-family: "Poppins", sans-serif;
  font-weight:600;
  font-size:5.5vw;
  text-align:center;
  margin-bottom:-5vh;
  margin-top:0px;
}

h1.mobile{
  font-family: "Poppins", sans-serif;
  font-weight:600;
  font-size:7vw;
  text-align:center;
  margin-top:-10px;
  margin-bottom:-10px;
}

h2{
  font-family: "Anonymous Pro", serif;
  font-weight:600;
  font-size:2.9vw;
  text-align:center;
}

h2.mobile{
  font-family: "Anonymous Pro";
  font-weight:600;
  font-size:4vw;
  text-align:center;
  margin-bottom:30px;
}

h3{
  font-family: "Poppins", sans-serif;
  font-weight:600;
  font-size:1.5vw;
  text-decoration:underline;
}

.margins{
  margin:4vh 2vw 7vh;
}

.active{
  background-color:var(--true-black) !important;
  color: var(--canvas-white) !important;
}

.item-mobile{
  text-decoration:none;
  color:var(--true-black);
  background-color:var(--canvas-white);
  border-bottom:var(--border-bottom);
  width: 100%;
  height:50px;
  display:flex;
  justify-content:center;
  align-content:center;
  align-items:center;
  font-family: "Anonymous Pro";
  font-weight: 600;
  font-size:3vh;
}

.item-mobile:hover{
  background-color:var(--true-black);
  color:var(--canvas-white);
  transition: 0.5s;
}

.IpkeQ{
  padding:10px;
}

.kzarly{
  border-bottom:solid 5px black;
  align-items:normal !important;
}

.evkNiW{
  padding-top:12vh !important;
}

.logo{
  height:12vh;
  z-index:2;
  position:fixed;
  filter:drop-shadow(9px 9px 0px rgba(0,0,0,1));
  margin:2.5vh;
}

.logo-mobile{
  position:fixed;
  height:10vh;
  filter:drop-shadow(9px 9px 0px rgba(0,0,0,1));
  margin:2.5vh;
}

.navigation-desktop{
  width: 100%;
  display:flex;
  flex-direction:row;
  background-color:#FF95B0;
  border-bottom:var(--border-bottom);
  position:fixed;
  z-index:2;
}

.navigation-links{
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  align-content:stretch;
  align-items:center;
}

.item{
  font-family: "Anonymous Pro";
  font-weight: 600;
  font-size: 1.7vw;
  text-decoration:none;
  color:black;
  padding:0px 15px;
  height:6vh;
  display:flex;
  flex-direction:row;
  align-items:center;
}

.item:hover{
  color:#fcfbfb;
  background-color:black;
  transition: 0.5s;
}

.smiley{
  height:2.5vh;
}

.smileys{
  display:flex;
  flex-direction:row;
  width:6.5vw;
  justify-content:space-around;
}

.smileys-mobile{
  display:flex;
  flex-direction:row;
  width:20vw;
  justify-content:space-around;
}

.footer-desktop-container{
  width:100%;
  height:17vh;
  border-top:var(--border-bottom);
  background-color:var(--electricity-pink);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-content:center;
  align-items:center;
}

.footer-mobile-container{
  width:100%;
  height:20vh;
  border-top:var(--border-bottom);
  background-color:var(--electricity-pink);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-content:center;
  align-items:center;
}

.footer-desktop-links{
  width:90%;
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  align-items:center;
  align-content:center;
}

.footer-mobile-links{
  width:90%;
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  align-items:center;
  align-content:center;
}

.footer-desktop-important{
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  align-items: center;
  align-content: center;
  padding-bottom:20px;
  padding-top:15px;
}

.footer-mobile-important{
  width:100%;
  display:flex;
  flex-direction:column;
}

.footer-link{
  font-family: "Anonymous Pro";
  font-weight:600;
  font-size:2vh;
  font-style: italic;
  text-decoration:none;
  color:var(--true-black);
}

.footer-link:hover{
  color:var(--canvas-white);
  transition: 0.5s ease;
}

.footer-link-mobile{
  font-family: "Anonymous Pro";
  font-weight:600;
  font-style:italic;
  text-decoration:none;
  color:var(--true-black);
}

.footer-link-mobile:hover{
  color:var(--canvas-white);
  transition: 0.5s ease;
}

.footer-desktop-sm{
  display:flex;
  width:40%;
  justify-content:space-evenly;
}

.footer-mobile-sm{
  display:flex;
  flex-direction:row;
  width:100%;
  justify-content:space-evenly;
  flex-wrap:wrap;
}

.footer-mobile-sm .fab{
  color:var(--true-black);
}

.footer-mobile-sm .fab:hover{
  color:var(--canvas-white);
  transition:0.5s ease;
}

.fa-2x-mobile{
  font-size:5.7vh;
}

.footer-desktop-sm .fab{
  color:var(--true-black);
}

.footer-desktop-sm .fab:hover{
  color:var(--canvas-white);
  transition:0.5s ease;
}

.copyright{
  font-family: 'Coders Crux';
  font-size:3vh;
  margin-bottom:0px;
}

.copyright-mobile{
  font-family: 'Coders Crux';
  font-size:3vh;
  margin-bottom:-10px;
  text-align:center;
  width:65%;
}

.body{
  width:100vw;
  display:flex;
  flex-direction:column;
  align-content:center;
  justify-content:center;
  align-items:center;
}

.body-mobile{
  width:100vw;
  display:flex;
  flex-direction:column;
  align-content:center;
  justify-content:center;
  align-items:center;
}

.container{
  width:60vw;
  height:100vh;
  border:var(--border);
  box-shadow:var(--drop-shadow);
  margin-top:20vh;
  margin-bottom:100px;
  background-color:var(--canvas-white);
  position:relative;
  z-index:1;
}

.container-mobile{
  width:80vw;
  height:100vh;
  border:var(--border);
  box-shadow:var(--drop-shadow);
  margin-top:20vh;
  margin-bottom:100px;
  background-color:var(--canvas-white);
  position:relative;
  z-index:1;
}

.header.mobile{
  width:80vw;
  height:4vh;
  border-bottom:var(--border-bottom);
  grid-template-columns: 20vw auto;
  grid-template-rows: 4vh;
  grid-template-areas: "smileys headerText";
  justify-items:center;
}

.header{
  width:60vw;
  height:4vh;
  border-bottom:var(--border-bottom);
  display:grid;
  grid-template-columns: 7.5vw auto;
  grid-template-rows: 4vh;
  grid-template-areas: "smileys headerText";
  justify-items:center;
}

.header.contact{
  background-color:var(--electricity-purple);
}

.item-a{
  grid-area: smileys;
  justify-self:center;
  align-self:center;
}

.item-b{
  grid-area: headerText;
  justify-self:center;
  align-self:center;
}

p.item-b{
  font-family: 'Coders Crux', 'Courier New', Courier, monospace;
  font-size: 3vh;
  text-align:center;
}

.center{
  display:flex;
  justify-content:center;
  align-items:center;
  align-content:center;
}

.contact-form{
  width:90%;
  border:var(--border);
  background-color:var(--canvas-white);
  box-shadow:var(--drop-shadow);
}

.contact-form-mobile{
  width:90%;
  border:var(--border);
  background-color:var(--canvas-white);
  box-shadow:var(--drop-shadow);
}

.contact-form-header{
  width:100%;
  height:4vh;
  border-bottom:var(--border-bottom);
  display:grid;
  grid-template-columns: 7.5vw auto;
  grid-template-rows: 4vh;
  grid-template-areas: "smileys headerText";
  justify-items:center;
  background-color:var(--electricity-purple);
}

.contact-form-header-mobile{
  width:100%;
  height:4vh;
  border-bottom:var(--border-bottom);
  display:grid;
  grid-template-columns: 21vw auto;
  grid-template-rows: 4vh;
  grid-template-areas: "smileys headerText";
  justify-items:center;
  align-items:center;
  background-color: var(--electricity-purple);
}

.contact-form-header-mobile p{
  font-family: "Coders Crux";
  font-size:3vh;
}

.inputForm{
  border:var(--border);
  height:3.5vh;
  font-family:"Anonymous Pro";
  font-weight:600;
  font-size:2vh;
  padding-left:10px;
}

.inputForm-mobile{
  border:var(--border);
  height:3.5vh;
  font-family:"Anonymous Pro";
  font-weight:600;
  font-size:2vh;
  padding-left:10px;
}

.textareaForm{
  border:var(--border);
  font-family:"Anonymous Pro";
  font-weight:600;
  font-size:2vh;
  padding:10px;
  height:20vh;
}

.textareaForm-mobile{
  border:var(--border);
  font-family:"Anonymous Pro";
  font-weight:600;
  font-size:2vh;
  padding:10px;
  height:20vh;
}

#contact-form{
  display:grid;
  /*grid-template-columns: 2px 20px 10px 15px 10px 20px 2px;
  grid-template-rows: 2px 40px 40px 80px 20px auto;*/
  grid-template-areas:
                      " name name . email email"
                      " subject subject subject subject subject"
                      " . . . . ."
                      " message message message message message"
                      ". button button button .";
  padding:2vh;
}

#contact-form-mobile{
  display:grid;
  grid-template-areas: " name name name name name "
                       " . . . . . "
                       " email email email email email "
                       " . . . . . "
                       " subject subject subject subject subject "
                       " . . . . . "
                       " message message message message message "
                       ". button button button . ";
  padding:2vh;

}

.inputForm-mobile.item-f, .inputForm-mobile.item-g, .inputForm-mobile.item-h, .textareaForm-mobile.item-i{
  margin-bottom:20px;
}

.margin-bottom{
  margin-bottom:2vh;
}

.submitBtn{
  border:var(--border);
  background-color:var(--electricity-purple);
  height:5vh;
  font-family: "Anonymous Pro";
  font-weight:600;
  font-size:2vh;
}

.submitBtn:hover, .submitBtn-mobile:hover{
  background-color:var(--true-black);
  color:var(--canvas-white);
  transition: 0.5s ease;
}

.submitBtn-mobile{
  border:var(--border);
  background-color: var(--electricity-purple);
  height:5vh;
  font-family: "Anonymous Pro";
  font-weight:600;
  font-size:2vh;
}

.submitBtn:hover{
  cursor:pointer;
}

.submitBtn-mobile:hover{
  cursor:pointer;
}

.item-f{
  grid-area: name;
}

.item-g{
  grid-area: email;
}

.item-h{
  grid-area: subject;
}

.item-i{
  grid-area: message;
}

.item-j{
  grid-area: button;
}

.container.shop{
  height:65vh !important;
}

.container-mobile.shop{
  height:58vh !important;
}

.header.shop{
  background-color: var(--electricity-yellow);
}

.etsy-shop, .rwby-container{
  width:90%;
  border:var(--border);
  background-color:var(--canvas-white);
  box-shadow:var(--drop-shadow);
}

.etsy-shop-mobile, .rwby-container-mobile{
  width:90%;
  border:var(--border);
  background-color:var(--canvas-white);
  box-shadow:var(--drop-shadow);
}

.etsy-shop-header, .rwby-header{
  width:100%;
  height:4vh;
  border-bottom:var(--border-bottom);
  display:grid;
  grid-template-columns: 7.5vw auto;
  grid-template-rows: 4vh;
  grid-template-areas: "smileys headerText";
  justify-items:center;
  background-color:var(--electricity-yellow);
}

.full-size-image-header{
  width:100%;
  height:4vh;
  border-bottom:var(--border-bottom);
  display:grid;
  grid-template-columns: 7.5vw auto;
  grid-template-rows: 4vh;
  grid-template-areas: "smileys headerText";
  justify-items:center;
  background-color:var(--electricity-purple);
}

.etsy-shop-header-mobile, .rwby-header-mobile{
  width:100%;
  height:4vh;
  border-bottom:var(--border-bottom);
  display:grid;
  grid-template-columns: 21vw auto;
  grid-template-rows: 4vh;
  grid-template-areas: "smileys headerText";
  justify-items:center;
  align-items:center;
  background-color:var(--electricity-yellow);
}

.etsy-shop-container{
  margin-left: 5%;
  margin-right: 5%;
}

.etsy-shop-container-mobile{
  margin-left:5%;
  margin-right:5%;
}

.etsy-shop-container p{
  font-family: "Anonymous Pro";
  font-weight:600;
  font-size:1.3vw;
}

.etsy-shop-container-mobile p{
  font-family: "Anonymous Pro";
  font-weight:600;
  font-size:1.2vw;
}

.etsy-link{
  text-decoration:underline;
  color:var(--electricity-pink);
}

.etsy-link:hover{
  color:var(--true-black);
  transition: 0.5s ease;
}

.etsy-link:visited{
  color:var(--electricity-pink);
}

.etsy-link:visited:hover{
  color:var(--true-black);
  transition: 0.5s ease;
}

.container.privacy, .container.tos, .container-mobile.tos, .container.rwby{
  height:auto;
}

.header.privacy{
  background-color:var(--electricity-purple);
}

.header.tos{
  background-color:var(--electricity-pink);
}

.header.rwby{
  background-color:var(--electricity-yellow);
}

.privacy-policy-container, .tos-container{
  margin-left:3vw;
  margin-right:3vw;
}

.privacy-policy-container p, .tos-container p, .tos-container li{
  font-family:"Anonymous Pro";
  font-weight:600;
  font-size:1.3vw;
}

.privacy-policy-container h4, .tos-container h4{
  font-family:"Poppins";
  font-weight:700;
  font-size:1.9vw;
  margin-bottom:-10px;
}

.privacy-policy-container a, .tos-container a{
  color:var(--electricity-pink);
}

.privacy-policy-container a:hover, .tos-container a:hover{
  color:var(--true-black);
  transition:0.5s ease;
}

.container-mobile.privacy{
  height:auto;
}

h2.mobile.privacy{
  font-size:3vh;
  margin-top:10px;
  margin-bottom:10px;
}

h2.mobile.tos{
  margin-bottom:10px;
}

.privacy-policy-container-mobile{
  margin-left:3vw;
  margin-right:3vw;
}

.privacy-policy-container-mobile p, .tos-container-mobile p{
  font-family:"Anonymous Pro";
  font-weight:600;
}

.privacy-policy-container-mobile h4, .tos-container-mobile h4{
  font-family:"Poppins";
  font-weight:700;
  font-size:2.7vh;
  margin-bottom:-10px;
}

.privacy-policy-container-mobile a, .tos-container-mobile a{
  color:var(--electricity-pink);
}

.tos-container-mobile a:hover{
  color:var(--true-black);
  transition: 0.5s ease;
}

.privacy-policy-container-mobile a:hover{
  color:var(--true-black);
  transition: 0.5s ease;
}

.center.margins2{
  margin-left:5vh;
  margin-right:5vh;
}

.mobile.tos{
  margin-bottom:-10px;
}

h1.rwby{
  font-size:4.2vw;
  margin-bottom:-10px;
}

h2.rwby{
  font-size:2.5vw;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  align-content:center;
}

.rwby-paper-container{
  padding:2vh 4vh;
}

.rwby-paper-container-mobile{
  padding:2.5vh;
}

.rwby-paper-center, .rwby-paper-center-mobile{
  text-align:center;
}


.rwby-paper-container p{
  font-family: "Anonymous Pro";
  font-weight: 600;
  font-size:1.2vw;
}

.rwby-paper-container-mobile p{
  font-family: "Anonymous Pro";
  font-weight:600;
  font-size:2vh;
}

.rwby-paper-container a, .rwby-paper-container-mobile a{
  color:var(--electricity-pink);
  text-decoration:none;
}

.rwby-paper-container a:hover, .rwby-paper-container-mobile a:hover{
  color:var(--true-black);
  transition: 0.5s ease;
}

h1.mobile.rwby{
  font-size:5.3vw;
}

h2.mobile.rwby{
  font-size:3.5vw;
}

.container-mobile.rwby{
  height:auto;
}

.container.full-image{
  height:auto;
}

.header.full-image{
  background-color:var(--electricity-purple);
}

.full-size-image-container{
  width:90%;
  border:var(--border);
  box-shadow:var(--drop-shadow);
  margin-top:2vw;
}

.center-full-size{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-content:center;
  align-items:center;
}

.full-size-container-meredith img{
  width:100%;
  display:flex;
  justify-content:center;
  align-content:center;
  align-items:center;
}

.full-size-container-rapunzel img{
  width:100%;
  display:flex;
  justify-content:center;
  align-content:center;
  align-items:center;
}

.full-size-container-pots img{
  width:100%;
  display:flex;
  justify-content:center;
  align-content:center;
  align-items:center;
}

.full-size-container-pod img{
  width:100%;
  display:flex;
  justify-content:center;
  align-content:center;
  align-items:center;
}

.full-size-container-countdown img{
  width:100%;
  display:flex;
  justify-content:center;
  align-content:center;
  align-items:center;
}

.full-size-container-meredith video{
  width:100%;
  display:flex;
  justify-content:center;
  align-content:center;
  align-items:center;
}

.full-size-image-button{
  border:var(--border);
  padding:10px 30px;
  background-color:var(--electricity-purple);
  margin-top:5vw;
  cursor:pointer;
}

.full-size-image-button:hover{
  background-color:var(--true-black);
  transition:0.5s ease;
}

a.full-size-image-button{
  font-family: "Anonymous Pro";
  font-weight:600;
  font-size:2vh;
  text-decoration:none;
  color:var(--true-black);
}

a.full-size-image-button:hover{
  color:var(--canvas-white);
  transition: 0.5s ease;
}

.container.portfolio{
  height:auto;
}

.header.portfolio{
  background-color:var(--electricity-pink);
}

/*.portfolio-container{
  width:85%;
  display:flex;
  justify-content:center;
  align-content:center;
  align-items:center;
}*/

.portfolio-container{
  width:100%;
  display:flex;
  justify-content:center;
  align-content:center;
  align-items:center;
}

.projects-container{
  width:90%;
}

.radio-button-group{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-between;
  padding-bottom:2vw;
}

.RadioButton{
  display:flex;
  flex-direction:row;
  cursor:pointer;
}

/*.RadioButton input{
  position:absolute;
  width:100px;
  top:0;
  left:0;
  z-index:3;
  cursor:pointer;
}

.radio-button{
  position:relative;
  z-index:2;
  top:0;
  left:0;
  width:15px;
  height:15px;
  background-image:url('./assets/pixel-circle.svg');
  background-repeat:no-repeat;
  background-position: center;
  cursor:pointer;
}

.RadioButton label{
  font-family:"Anonymous Pro";
  font-weight:600;
  color:var(--true-black);
  padding:0px 1vw;
  font-size:1.25vw;
}*/

h4.h4-filter, h4.h4-tag{
  font-family:"Poppins";
  font-weight:700;
  font-size:2vw;
  margin-bottom:0px;
}

.radio-button{
  font-family: "Anonymous Pro";
  font-size:1.25vw;
  font-weight:600;
  color:var(--true-black);
  display:flex;
  cursor:pointer;
}

.radio__input input{
  opacity:20;
  width:0;
  height:0;
  display:none;
}

.radio__input{
  margin-left:-15px;
}

.margin-top{
  margin-top:1.25vw;
}

.radio__control{
  display:block;
  background-image:url('./assets/pixel-circle.svg');
  width: 15px;
  height:15px;
  margin:0px 15px;
  background-position:center;
  background-repeat:no-repeat;
}

.radio__input#purpleTag input:checked + .radio__control{
  background-color:var(--electricity-purple);
  border-radius:50%;
}

.radio__input#purpleTag:hover input:hover + .radio__control:hover{
  background-color:var(--electricity-purple);
  border-radius:50%;
  transition: background-color 0.5s ease;
}

.radio__input#yellowTag input:checked + .radio__control{
  background-color:var(--electricity-yellow);
  border-radius:50%;
}

.radio__input#yellowTag:hover input:hover + .radio__control:hover{
  background-color:var(--electricity-yellow);
  border-radius:50%;
  transition: background-color 0.5s ease;
}

.radio__input#pinkTag input:checked + .radio__control{
  background-color:var(--electricity-pink);
  border-radius:50%;
}

.radio__input#pinkTag:hover input:hover + .radio__control:hover{
  background-color:var(--electricity-pink);
  border-radius:50%;
  transition: background-color 0.5s ease;
}

.individual-project-container{
  width:100%;
  height:auto;
  border:var(--border);
  box-shadow:var(--drop-shadow);
  margin-bottom:4vw;
}

.projects-header{
  height:4vh;
  width:100%;
  border-bottom:var(--border-bottom);
  display: grid;
  grid-template-columns: 7.5vw auto;
  grid-template-rows: 4vh;
  grid-template-areas: "smileys headerText";
  justify-items: center;
}

.image-cover{
  width:100%;
  height:30vh;
  border-bottom:var(--border-bottom);
  overflow:hidden;
  display:flex;
  justify-content:center;
  align-content:center;
  align-items:center;
}

.image-image{
  width:100%;
}

p.description{
  font-family:"Anonymous Pro";
  font-weight:600;
  font-size:1.25vw;
}

.project-button{
  text-decoration:none;
  font-family:"Anonymous Pro";
  font-weight:600;
  font-size:1.25vw;
  border:var(--border);
  color:var(--true-black);
  padding:7px 10px;
  margin-right:20px;
}

.project-button:hover{
  cursor:pointer;
  background-color:var(--true-black) !important;
  color:var(--canvas-white);
  transition: 0.5s ease;
}

.project-buttons{
  display:flex;
  flex-direction:row;
}

.project-tag{
  font-family:"Anonymous Pro";
  font-weight:600;
  font-size:1vw;
  border:var(--border);
  color:var(--true-black);
  padding:2px 5px;
  margin-left:15px;
  height:1vw;
  margin-top:20px;
}

.project-tags{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:flex-end;
  flex-wrap:wrap;
}

h4.h4-tag{
  height:32px;
}

.container-mobile.portfolio{
  height:auto;
}

.pink-letter{
  color:var(--electricity-pink);
}

.purple-letter{
  color:var(--electricity-purple);
}

.yellow-letter{
  color:var(--electricity-yellow);
}

.header.about{
  background-color:var(--electricity-purple);
}

.container.about{
  height:110vw;
  z-index:0;
  margin-bottom:30vh;
}

.header.me{
  width:100% !important;
  background-color:var(--electricity-yellow);
}

.me-container{
  border:var(--border);
  box-shadow:var(--drop-shadow);
  height:50vh;
  width:50%;
  background-image:url('./assets/me.jpg');
  background-position-x:0;
  background-position-y:40%;
  background-repeat:no-repeat;
  background-size:cover;
  float:left;
  position:relative;
  z-index:1;
  margin-right:3vw;
  margin-left:-10vw;
  margin-bottom:3vw;
}

.header.sunset{
  width:100% !important;
  background-color:var(--electricity-pink);
}

.sunset-container{
  border:var(--border);
  box-shadow:var(--drop-shadow);
  height:45vh;
  width:50%;
  background-image:url('./assets/sunset-waltz.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  float:right;
  position:relative;
  z-index:1;
  margin-left:1vw;
  margin-right:-10vw;
  margin-bottom:1vw;
  clear:left;
}

.header.profile{
  width:100% !important;
  background-color:var(--electricity-purple);
}

.profile-container{
  border:var(--border);
  box-shadow:var(--drop-shadow);
  background-color:var(--canvas-white);
  width:45%;
  height:auto;
  float:left;
  position:relative;
  clear:both;
  margin-left:2vw;
  margin-top:1vw;
  margin-right:3vw;
}

.profile-information p{
  font-family:"Anonymous Pro";
  font-weight:600;
  font-size:1.25vw;
  margin-top:0;
}

.profile-information .profile-link {
  color:var(--electricity-pink);
}

.profile-information .profile-link:visited{
  color:var(--electricity-pink);
}

.profile-link:visited{
  color:var(--electricity-pink);
}

.profile-information .profile-link:hover{
  color:var(--true-black);
  transition:0.5s ease;
}

.profile-information{
  height:auto;
  margin:5% 0px 2%;
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-content:center;
  align-items:center;
}

.paragraph-container p {
  font-family:"Anonymous Pro";
  font-weight:600;
  font-size:1.25vw;
}

.paragraph-container{
  padding-right:5vw;
  position:relative;
  padding-left:5vw;
  z-index:0;
}

.grid-about{
  width:100%;
  height:100vh;
}

.signature-container img{
  width:30%;
}

.header.about.mobile{
  background-color:var(--electricity-purple);
}

.container-mobile.about{
  height:375vh;
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-content:center;
  align-items:center;
}

.header.me.mobile{
  width:100% !important;
  background-color:var(--electricity-yellow);
}

.header.sunset.mobile{
  width:100% !important;
  background-color:var(--electricity-pink);
}

.header.profile.mobile{
  width:100% !important;
  background-color:var(--electricity-purple);
}

.header.mobile{
  grid-template-columns: 15vw auto;
}

.header.mobile .item-a{
  display:flex;
  justify-content:flex-start;
}

.header.mobile .item-a .smiley{
  padding-right:10px;
}

.me-container-mobile{
  border:var(--border);
  box-shadow:var(--drop-shadow);
  height:40vh;
  width:67vw;
  background-image:url('./assets/me.jpg');
  background-repeat:no-repeat;
  background-position-x:0vh;
  background-position-y:30%;
  background-size:cover;
  margin-top:-7vh;
}

.sunset-container-mobile{
  border:var(--border);
  box-shadow: var(--drop-shadow);
  height:30vh;
  width:67vw;
  background-image:url('./assets/sunset-waltz.jpg');
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}

.profile-container-mobile{
  border:var(--border);
  box-shadow:var(--drop-shadow);
  height:70vh;
  width:67vw;
  background-color:var(--canvas-white);
}

.profile-information-mobile{
  height:auto;
  width:100%;
  display:flex;
  flex-direction:column;
  padding:3.5% 3.5%;
}

.profile-information-mobile p{
  font-family:"Anonymous Pro";
  font-size:2.3vh;
  font-weight:600;
  color:var(--true-black);
}

.profile-tidbit-mobile{
  margin:3% 0px;
}

.paragraph-1-container-mobile, .paragraph-2-container-mobile{
  margin:2vh 3vh;
}

.paragraph-1-container-mobile p, .paragraph-2-container-mobile p{
  font-family:"Anonymous Pro";
  font-size:2vh;
  font-weight:600;
  color:var(--true-black);
}

.signature-container-mobile img{
  width:90%;
}

.signature-container-mobile{
  margin-top:2vh;
  display:flex;
  justify-content:center;
  align-content:center;
  align-items:center;
  margin-top:15%;
}